{% extends 'core/base.html' %}

{% block title %}Gestión Horas de Procesos{% endblock %}
{% block head %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    
{% endblock %}
{% block content %}
<style>
    .table-wrapper {
        overflow-x: auto;
        margin-top: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #f1f1f1;
    }

    .form-control-sm {
        width: 100%;
    }

    .detalle-procesos {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 14px;
        color: #333;
    }

    .td-hrsextras {
        min-width: 70px;  /* Establece un ancho mínimo para el <td> */
    }
    
    .alerta-centrada {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1050;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 300px;
        text-align: center;
        background-color: white;
        border: 1px solid #ccc;
    }

    .alerta-centrada .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }

    .back-icon {
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 20px;
        margin-top: 20px;
        display: block;
        color: #333;
    }

    .nav-item {
        margin-right: 15px; /* Ajusta este valor según sea necesario */
    }

    #resumen-asistencia {
        display: none; /* Ocultar por defecto */
        margin-top: 20px;
    }

    #resumen-asistencia h4 {
        font-size: 1rem; /* Ajustar el tamaño de fuente para que coincida con los elementos <li> */
        margin: 0;
    }

    #resumen-asistencia ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #resumen-asistencia li {
        margin-right: 15px;
        font-size: 1rem; /* Ajustar el tamaño de fuente para que coincida con el encabezado <h4> */
    }

    .large-select {
        width: 100%;
        min-width: 200px; /* Asegúrate de que tenga al menos este ancho */
    }
</style>
<br><br>
<!-- Contenedor para mostrar alertas -->
<div id="alerta" class="alerta-centrada alert" style="display: none;">
    <span class="alerta-mensaje"></span>
    <button type="button" class="close" onclick="cerrarAlerta()">&times;</button>
</div>
<a href="{% url 'horas_procesos:gestion_horas_procesos' %}" class="back-icon">
    <i class="fas fa-arrow-left"></i>
</a>
{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const resumenAsistencia = document.getElementById('resumen-asistencia');
        const deptoSelect = document.getElementById('depto_select');
        
    
        const actualizarResumenAsistencia = () => {
            const resumen = {
                F: 0,
                D: 0,
                P: 0,
                RT: 0,
                V: 0,
                INC: 0,
                S: 0,
                B: 0,
                R: 0,
                NI: 0,
                ASI: 0,
                DE: 0
            };
        
            const empleados = new Set();
        
            document.querySelectorAll('tr[data-codigo-emp]').forEach(row => {
                const empleadoId = row.getAttribute('data-codigo-emp');
                if (!empleados.has(empleadoId)) {
                    empleados.add(empleadoId);
                    const select = row.querySelector('select[name^="tipo_inasistencia_"]');
                    const value = select.value;
                    if (resumen.hasOwnProperty(value)) {
                        resumen[value]++;
                    }
                }
            });
        
            for (const key in resumen) {
                const spanElement = document.getElementById(`resumen-${key}`);
                spanElement.textContent = resumen[key];
            }
        };
    
        const mostrarResumenAsistencia = () => {
            resumenAsistencia.style.display = 'block';
        };
    
        deptoSelect.addEventListener('change', () => {
            actualizarResumenAsistencia();
            mostrarResumenAsistencia();
        });
        document.querySelectorAll('select[name^="producto_"]').forEach(select => {
            const id = select.name.split('_')[1];
            const selectedValue = select.value;
            console.log(`Producto seleccionado para proceso ${id}: ${selectedValue}`);
        });
    
        document.querySelectorAll('select[name^="tipo_inasistencia_"]').forEach(select => {
            select.addEventListener('change', (event) => {
                const id = event.target.name.split('_')[1];
                const row = document.querySelector(`tr[data-id="${id}"]`);
                if (!row) {
                    console.error(`Fila con data-id="${id}" no encontrada`);
                    return;
                }
                const codigoEmp = row.dataset.codigoEmp;
                toggleInasistencia(id, codigoEmp);
    
                const mensaje = `Se marcará la inasistencia para el empleado ${codigoEmp}. ¿Deseas continuar?`;
                document.getElementById('confirmMessage').textContent = mensaje;
                const confirmModal = new bootstrap.Modal(document.getElementById('confirmModal'));
                confirmModal.show();
    
                document.getElementById('confirmSubmit').addEventListener('click', () => {
                    document.getElementById('form-actualizar').submit();
                });
            });
        });
    
        // Inicializar el resumen al cargar la página
        actualizarResumenAsistencia();
        mostrarResumenAsistencia();
    });
    function showAlert(message, type) {
        const alerta = document.getElementById('alerta');
        alerta.querySelector('.alerta-mensaje').innerHTML = message.replace(/\n/g, '<br>'); // Reemplazar saltos de línea con <br>
        alerta.className = `alerta-centrada alert alert-${type}`;
        alerta.style.display = 'block';
    }
    
    function cerrarAlerta() {
        const alerta = document.getElementById('alerta');
        alerta.style.display = 'none';
    }
    
    
    
    {% comment %} document.addEventListener('DOMContentLoaded', function() {
        const guardarBtn = document.getElementById('guardar-btn');
        const form = document.getElementById('form-actualizar');
        const csrfTokenMeta = document.querySelector('meta[name="csrf-token"]');
        const csrfToken = csrfTokenMeta ? csrfTokenMeta.getAttribute('content') : '';
    
        if (!csrfToken) {
            console.error('CSRF token not found');
            return;
        }
    
        guardarBtn.addEventListener('click', function(event) {
            event.preventDefault();
    
            if (!form.checkValidity()) {
                showAlert('Formulario no válido. Por favor completa todos los campos requeridos.', 'danger');
                return;
            }
    
            const formData = new FormData(form);
            const jsonData = {};
            formData.forEach((value, key) => {
                jsonData[key] = value;
            });
    
            console.log(JSON.stringify(jsonData));
    
            fetch(form.action, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(errData => {
                        throw new Error(errData.message || 'Error en el servidor');
                    });
                }
                return response.json();
            })
            .then(data => {
                const responseModal = new bootstrap.Modal(document.getElementById('responseModal'));
                const responseModalBody = document.getElementById('responseModalBody');
                if (data.success) {
                    responseModalBody.textContent = 'Datos enviados correctamente.';
                } else {
                    responseModalBody.textContent = 'Error al enviar los datos: ' + data.error;
                }
                responseModal.show();
            })
            .catch(error => {
                const responseModal = new bootstrap.Modal(document.getElementById('responseModal'));
                const responseModalBody = document.getElementById('responseModalBody');
                responseModalBody.textContent = 'Ocurrió un error al enviar los datos: ' + error.message;
                responseModal.show();
            });
        });
    }); {% endcomment %}

    document.addEventListener('DOMContentLoaded', function() {
        if (window.location.pathname.includes('/horas_procesos/actualizar_horas_procesos/')) {
            const navbar = document.querySelector('.navbar-nav.ms-auto');
            const logoutButton = navbar.querySelector('form[action="/accounts/logout/"]').closest('li');
            const syncButton = document.createElement('li');
            syncButton.className = 'nav-item';
            syncButton.innerHTML = `
                <button id="sync-to-server-button" class="nav-link btn btn-link" style="padding: 0;">Sincronizar Procesos</button>
            `;
            navbar.insertBefore(syncButton, logoutButton);
    
            document.getElementById('sync-to-server-button').addEventListener('click', function(event) {
                event.preventDefault();  // Evitar el comportamiento predeterminado del botón
                fetch("{% url 'horas_procesos:sync_to_server' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Ocurrió un error durante la sincronización.');
                });
            });
        }
        // Configurar todos los campos como solo lectura al cargar la página, excepto los campos de selección de departamento y filtrado por fecha
    document.querySelectorAll('input, select').forEach(input => {
        if (input.name !== 'departamento' && input.name !== 'fecha') {
            input.setAttribute('readonly', true);
            input.setAttribute('disabled', true);
        }
    });

    // Agregar evento al botón "Editar"
    document.getElementById('editar-btn').addEventListener('click', () => {
        document.querySelectorAll('input, select').forEach(input => {
            if (input.name !== 'departamento' && input.name !== 'fecha' && !input.name.startsWith('hrs_') && !input.name.startsWith('totalhrs_')) {
                input.removeAttribute('readonly');
                input.removeAttribute('disabled');
            }
        });
        document.getElementById('guardar-btn').removeAttribute('disabled');
    });

    // Agregar evento al botón "Exportar a Excel"
    document.getElementById('exportar-btn').addEventListener('click', () => {
        exportarTablaAExcel('tabla-horas-procesos', 'HorasProcesos.xlsx');
    });

    document.querySelectorAll('input[name^="horaentrada_"], input[name^="horasalida_"]').forEach(input => {
        input.setAttribute('data-original-value', input.value);
        input.addEventListener('change', (event) => {
            const id = event.target.name.split('_')[1];
            if (event.target.tagName.toLowerCase() === 'select') {
                actualizarProceso(id);
            } else {
                validarHoras(id);
                actualizarHoras(id);
            }
            actualizarTotalHoras();
        });
    });

    document.getElementById('guardar-btn').addEventListener('click', (event) => {
        let valid = true;
        document.querySelectorAll('input[name^="horaentrada_"], input[name^="horasalida_"]').forEach(input => {
            const id = input.name.split('_')[1];
            const inasistencia = ['F', 'D', 'V', 'INC', 'S', 'B', 'R'].includes(document.querySelector(`select[name="tipo_inasistencia_${id}"]`).value);
            if (!inasistencia && !validarHoras(id)) {
                valid = false;
            }
        });

        if (!valid) {
            showAlert('Corrige los errores antes de guardar.', 'danger');
            return;
        }

        const { borrados } = contarCambiosYBorrados();
        const mensaje = `Se eliminarán ${borrados} registros. ¿Deseas continuar?`;
        document.getElementById('confirmMessage').textContent = mensaje;
        const confirmModal = new bootstrap.Modal(document.getElementById('confirmModal'));
        confirmModal.show();

        document.getElementById('confirmSubmit').addEventListener('click', () => {
            // Asegurarse de que todos los procesos tengan el valor de TotalHrs antes de enviar el formulario
            document.querySelectorAll('input[name^="totalhrs_"]').forEach(input => {
                const codigoEmp = input.name.split('_')[1];
                const totalHrs = document.querySelector(`input[name="totalhrs_${codigoEmp}"]`).value;
                document.querySelectorAll(`tr[data-codigo-emp="${codigoEmp}"] input[name^="totalhrs_"]`).forEach(procesoInput => {
                    procesoInput.value = totalHrs;
                });
            });
            // Habilitar los campos `hrs` y `totalhrs` antes de enviar el formulario
            document.querySelectorAll('input[name^="hrs_"], input[name^="totalhrs_"]').forEach(input => {
                input.removeAttribute('disabled');
            });

            document.querySelectorAll('input[type="time"]').forEach(input => {
                if (input.value === '') {
                    input.value = '00:00:00.0000000';
                }
            });

            document.getElementById('form-actualizar').submit();
        });
    });

    // Llamar a actualizarTotalHoras al cargar la página
    actualizarTotalHoras();
});
    
const validarHoras = (id) => {
    const entrada = document.querySelector(`input[name="horaentrada_${id}"]`).value;
    const salida = document.querySelector(`input[name="horasalida_${id}"]`).value;

    const selectInasistencia = document.querySelector(`select[name="tipo_inasistencia_${id}"]`);
    if (!selectInasistencia) {
        console.error(`Select con name="tipo_inasistencia_${id}" no encontrado`);
        return false;
    }
    const inasistencia = ['F', 'D', 'V', 'INC', 'S', 'B', 'R'].includes(selectInasistencia.value);
    if (inasistencia) {
        return true; // Saltar validación si está marcado como inasistencia
    }

    // Validar que si el tipo de inasistencia es NI, RT o ASI, haya un proceso seleccionado
    const procesoSelect = document.querySelector(`select[name="proceso_${id}"]`);
    if (['NI', 'RT', 'ASI','DE'].includes(selectInasistencia.value) && procesoSelect.value === '0') {
        showAlert('Debe seleccionar un proceso si el tipo de inasistencia es NUEVO INGRESO, RETARDO, DESCANSO EXTRA o ASISTENCIA.', 'danger');
        return false;
    }

    if (!entrada || !salida) {
        showAlert('Falta Agregar Hora Inicio o Fin en Algun Proceso', 'danger');
        return false;
    }

    const [horaEntrada, minutoEntrada] = entrada.split(':').map(Number);
    const [horaSalida, minutoSalida] = salida.split(':').map(Number);

    const inicio = new Date(0, 0, 0, horaEntrada, minutoEntrada);
    const fin = new Date(0, 0, 0, horaSalida, minutoSalida);
    let diferencia = (fin - inicio) / 1000 / 60 / 60;

    if (diferencia < 0) {
        diferencia += 24;
    }

    if (diferencia >= 14) {
        showAlert('La diferencia entre la hora de entrada y la hora de salida no puede ser igual o superior a 14 horas.', 'danger');
        document.querySelector(`input[name="horasalida_${id}"]`).value = '';
        return false;
    }

    if (entrada === salida) {
        showAlert('La hora de entrada y la hora de salida no pueden ser iguales.', 'danger');
        document.querySelector(`input[name="horasalida_${id}"]`).value = '';
        return false;
    }

    return true;
};
const actualizarTotalHorasEmpleado = (codigoEmp) => {
    console.log(`Actualizando total de horas para el empleado: ${codigoEmp}`);
    let totalHoras = 0;
    document.querySelectorAll(`tr[data-codigo-emp="${codigoEmp}"] input[name^="hrs_"]`).forEach(input => {
        totalHoras += parseFloat(input.value) || 0;
        console.log(`Sumando horas: ${input.value}, Total hasta ahora: ${totalHoras}`);
    });

    document.querySelectorAll(`input[name="totalhrs_${codigoEmp}"]`).forEach(input => {
        input.value = totalHoras.toFixed(2);
        console.log(`Actualizando campo totalhrs: ${input.name}, Nuevo valor: ${input.value}`);
    });
};

const actualizarHoras = (id) => {
    try {
        const entrada = document.querySelector(`input[name="horaentrada_${id}"]`).value;
        const salida = document.querySelector(`input[name="horasalida_${id}"]`).value;

        if (!entrada || !salida) {
            console.warn(`Faltan datos de hora en el proceso ${id}.`);
            return;
        }

        const [horaEntrada, minutoEntrada] = entrada.split(':').map(Number);
        const [horaSalida, minutoSalida] = salida.split(':').map(Number);

        const inicio = new Date(0, 0, 0, horaEntrada, minutoEntrada);
        const fin = new Date(0, 0, 0, horaSalida, minutoSalida);
        let diferencia = (fin - inicio) / 1000 / 60 / 60;

        if (diferencia < 0) {
            diferencia += 24;
        }

        const row = document.querySelector(`tr[data-id="${id}"]`);
        const hrComida = row.dataset.hrcomida === 'True';
        const idTurno = parseInt(row.dataset.idTurno, 10);
        const fechaProcesoTexto = row.querySelector('p.form-control-plaintext.mb-2').textContent.trim();
        const fechaProceso = new Date(fechaProcesoTexto.split(' de ').reverse().join('-'));
        const diaSemana = fechaProceso.getDay(); // 5 = Viernes, 6 = Sábado

        let horasComida = 0;
        if (hrComida) {
            horasComida = 0.75;
        } else if ((diaSemana === 5 || diaSemana === 6) && idTurno === 100) {
            horasComida = 0.5;
        }

        diferencia -= horasComida;

        const hrsInput = document.querySelector(`input[name="hrs_${id}"]`);
        hrsInput.value = diferencia.toFixed(2);

        console.log(`Actualizando horas para el proceso ${id}: Entrada: ${entrada}, Salida: ${salida}, Diferencia: ${diferencia.toFixed(2)}`);

        // Actualizar total de horas del empleado
        const codigoEmp = row.dataset.codigoEmp;
        actualizarTotalHorasEmpleado(codigoEmp);

        actualizarTotalHoras();
    } catch (error) {
        console.error(`Error actualizando horas para el proceso ${id}:`, error);
    }
};

const actualizarTotalHoras = () => {
    try {
        const totalHorasPorEmpleado = {};
        const totalHorasPorProceso = {};
        const totalHorasExtrasPorProceso = {};
        const totalHorasComidaPorProceso = {};
        const productosPorProceso = {};

        // Sumar las horas de todos los procesos por empleado y proceso
        document.querySelectorAll('input[name^="hrs_"]').forEach(input => {
            const id = input.name.split('_')[1];
            const row = document.querySelector(`tr[data-id="${id}"]`);
            if (!row) {
                console.error(`Fila con data-id="${id}"] no encontrada`);
                return;
            }
            const codigoEmp = row.dataset.codigoEmp;
            const procesoSelect = document.querySelector(`select[name="proceso_${id}"]`);
            const productoSelect = document.querySelector(`select[name="producto_${id}"]`);
            const procesoNombre = procesoSelect.value === "0" ? null : procesoSelect.selectedOptions[0].textContent.trim();
            const productoNombre = productoSelect.value === "" ? "Sin Producto" : productoSelect.selectedOptions[0].textContent.trim();
            const horas = parseFloat(input.value) || 0;
            const horasExtras = parseFloat(document.querySelector(`input[name="hrsextras_${id}"]`).value) || 0;
            const hrComida = row.dataset.hrcomida === 'True';  // Convertir a booleano
            const fechaProcesoTexto = row.querySelector('p.form-control-plaintext.mb-2').textContent.trim();
            const fechaProceso = new Date(fechaProcesoTexto.split(' de ').reverse().join('-'));
            const diaSemana = fechaProceso.getDay(); // 5 = Viernes, 6 = Sábado
            const idTurno = parseInt(row.dataset.idTurno, 10);
            let horasComida = hrComida ? 0.75 : 0; // 45 minutos de tiempo de comida si hrComida es True

            // Descontar 30 minutos de comida si es viernes o sábado y el turno es 100
            if ((diaSemana === 5 || diaSemana === 6) && idTurno === 100) {
                horasComida = 0.5; // Ajustar a 30 minutos
            }

            if (procesoNombre) {
                if (!totalHorasPorEmpleado[codigoEmp]) {
                    totalHorasPorEmpleado[codigoEmp] = 0;
                }

                if (!totalHorasPorProceso[procesoNombre]) {
                    totalHorasPorProceso[procesoNombre] = 0;
                    totalHorasExtrasPorProceso[procesoNombre] = 0;
                    totalHorasComidaPorProceso[procesoNombre] = 0;
                    productosPorProceso[procesoNombre] = {};
                }

                totalHorasPorEmpleado[codigoEmp] += horas;
                totalHorasPorProceso[procesoNombre] += horas;
                totalHorasExtrasPorProceso[procesoNombre] += horasExtras;
                totalHorasComidaPorProceso[procesoNombre] += horasComida;

                if (!productosPorProceso[procesoNombre][productoNombre]) {
                    productosPorProceso[procesoNombre][productoNombre] = { horas: 0, horasExtras: 0, horasComida: 0, mo: 0 };
                }

                productosPorProceso[procesoNombre][productoNombre].horas += horas;
                productosPorProceso[procesoNombre][productoNombre].horasExtras += horasExtras;
                productosPorProceso[procesoNombre][productoNombre].horasComida += horasComida;

                // Calcular MO dependiendo del día de la semana
                const divisorMO = (diaSemana === 6) ? 7.25 : 11.25; // 7.50 si es sábado, 11.25 para otros días
                productosPorProceso[procesoNombre][productoNombre].mo = (productosPorProceso[procesoNombre][productoNombre].horas / divisorMO).toFixed(2);
            }
        });

        const detalleProcesos = Object.entries(productosPorProceso)
            .map(([proceso, productos]) => {
                const productosDetalle = Object.entries(productos)
                    .map(([producto, detalles]) => {
                        return `${producto}<br>${proceso}: ${detalles.horas.toFixed(2)} horas (Horas extras: ${detalles.horasExtras.toFixed(2)}, Horas comida: ${detalles.horasComida.toFixed(2)}, MO: ${detalles.mo})`;
                    })
                    .join('<br><br>');
                return `<td>${productosDetalle}</td>`;
            })
            .join('');
        document.getElementById('detalle_procesos_container').innerHTML = `<table><tr>${detalleProcesos}</tr></table>`;

        // Asignar el valor de TotalHrs a todos los procesos del empleado
        document.querySelectorAll('input[name^="totalhrs_"]').forEach(input => {
            const id = input.name.split('_')[1];
            const codigoEmp = document.querySelector(`tr[data-id="${id}"]`).dataset.codigoEmp;
            if (totalHorasPorEmpleado[codigoEmp] !== undefined) {
                input.value = totalHorasPorEmpleado[codigoEmp].toFixed(2);
            } else {
                console.error(`totalHorasPorEmpleado[${codigoEmp}] está indefinido`);
            }
        });

        // Actualizar el total de horas de todos los empleados
        const total = Object.values(totalHorasPorEmpleado).reduce((sum, value) => sum + value, 0);
        document.getElementById('total_proceso').textContent = total.toFixed(2);

        // Calcular y actualizar el total dividido por 11.25
        const totalDividido = total / 11.25;
        document.getElementById('total_dividido').textContent = totalDividido.toFixed(2);

    } catch (error) {
        console.error("Error actualizando el total de horas:", error);
    }
};

// Modificar el evento de cambio para los campos de horas extras
document.querySelectorAll('input[name^="hrsextras_"]').forEach(input => {
    input.addEventListener('change', (event) => {
        const id = event.target.name.split('_')[1];
        actualizarTotalHoras();
    });
});

// Modificar el evento de cambio para los campos de hora de entrada y salida
document.querySelectorAll('input[name^="horaentrada_"], input[name^="horasalida_"]').forEach(input => {
    input.addEventListener('change', (event) => {
        const id = event.target.name.split('_')[1];
        console.log(`Cambio detectado en el campo: ${event.target.name}, ID del proceso: ${id}`);
        actualizarHoras(id);
    });
});
    
    
    
    
     exportarTablaAExcel = (idTabla, nombreArchivo) => {
        const tabla = document.getElementById(idTabla);
        const filas = Array.from(tabla.querySelectorAll('tr'));
    
        // Definir los encabezados de las columnas
        const encabezados = [
            "Código Emp", "Empleado", "Departamento", "Proceso", 
            "Código Producto", "Nombre Producto", "Cliente",
            "Fecha", "Hora Entrada", "Hora Salida", 
            "Horas", "Total Horas", "Horas Extras", 
            "Inasistencia", "Horarios", "Creado Por", "Modificado Por", "F/Modificación"
        ];
    
        // Definir la estructura esperada de los datos
        const plantillaDatos = filas.map((fila, filaIndex) => {
            const celdas = Array.from(fila.querySelectorAll('th, td'));
            return celdas.map((celda, celdaIndex) => {
                const selects = celda.querySelectorAll('select');
                if (selects.length > 1) {
                    const proceso = selects[0].options[selects[0].selectedIndex]?.text || '';
                    const producto = selects[1].options[selects[1].selectedIndex]?.text || '';
                    const productoSplit = producto.split(' - ');
                    const codigoProducto = productoSplit[0] || '';
                    const nombreProducto = productoSplit[1] || '';
                    const cliente = productoSplit[2] || '';
                    return [proceso, codigoProducto, nombreProducto, cliente];
                } else if (selects.length === 1) {
                    const selectedText = selects[0].options[selects[0].selectedIndex]?.text || '';
                    return selectedText;
                } else {
                    const input = celda.querySelector('input');
                    if (input) {
                        if (input.type === 'checkbox') {
                            return input.checked ? 'on' : '';
                        } else {
                            return input.value || '';
                        }
                    } else {
                        const text = celda.innerText.trim() || '';
                        if (['Horas', 'Total Horas', 'Horas Extras'].includes(celda.dataset.columnName)) {
                            const numberValue = parseFloat(text.replace(',', '.'));
                            return isNaN(numberValue) ? text : numberValue.toFixed(2);
                        }
                        return text;
                    }
                }
            }).flat();
        });
    
        // Obtener el resumen de asistencia de la tabla original
        const resumenFila = Array.from(tabla.querySelectorAll('tr')).find(tr => tr.textContent.includes('RESUMEN DE ASISTENCIA'));
        const resumenAsistencia = resumenFila ? resumenFila.innerText.trim() : 'RESUMEN DE ASISTENCIA NO ENCONTRADO';
    
        // Reorganizar los datos para que las celdas se acomoden correctamente
        const datosAcomodados = [];
        let currentRow = null;
    
        plantillaDatos.forEach((fila, index) => {
            if (index === 0) {
                datosAcomodados.push(encabezados); // Agregar encabezados
            } else if (index !== 1) { // Omitir la fila en el índice 1
                let adjustedFila = fila;
                if (fila.length < 19) {
                    // Agregar espacios vacíos al principio solo si la fila tiene menos de 19 elementos
                    const emptyCellsToAdd = 19 - fila.length;
                    adjustedFila = Array(emptyCellsToAdd).fill('').concat(fila);
                }
                adjustedFila.length = 19; // Asegurar que la fila tenga 19 elementos
                adjustedFila = adjustedFila.map((celda, celdaIndex) => {
                    if (['Horas', 'Total Horas', 'Horas Extras'].includes(encabezados[celdaIndex]) && !isNaN(parseFloat(celda))) {
                        return parseFloat(celda);
                    }
                    return celda;
                });
                datosAcomodados.push(adjustedFila);
            }
        });
    
        // Agregar el resumen de asistencia en la primera fila
        datosAcomodados.unshift([resumenAsistencia, ...Array(18).fill('')]);
    
        // Declarar mergeRanges antes de su uso
        const mergeRanges = [];
    
        // Modificar la penúltima fila para que solo tenga la primera celda y combinarla hacia la derecha
        if (datosAcomodados.length > 2) {
            const penultimaFila = datosAcomodados[datosAcomodados.length - 2];
            console.log("Penúltima fila original:", penultimaFila); // Log para ver la penúltima fila original
            const penultimaFilaTexto = penultimaFila.find(cell => cell.trim() !== '');
            console.log("Texto de la penúltima fila:", penultimaFilaTexto); // Log para ver el texto de la penúltima fila
            if (penultimaFilaTexto) {
                datosAcomodados[datosAcomodados.length - 2] = [penultimaFilaTexto, ...Array(18).fill('')];
                mergeRanges.push({ s: { r: datosAcomodados.length - 2, c: 0 }, e: { r: datosAcomodados.length - 2, c: 18 } });
            }
        }
    
        // Modificar la última fila para que solo tenga la primera y la última celda
        if (datosAcomodados.length > 1) {
            const ultimaFila = datosAcomodados[datosAcomodados.length - 1];
            const totalHoras = parseFloat(document.getElementById('total_proceso').textContent.replace('Total Horas: ', ''));
            datosAcomodados[datosAcomodados.length - 1] = ['', ...Array(15).fill(''), 'Total:', totalHoras, ''];
            datosAcomodados[datosAcomodados.length - 1].length = 19; // Asegurar que la fila tenga 19 elementos
        }
    
        // Modificar la fila 18 para combinar las celdas hacia la derecha
        if (datosAcomodados.length > 18) {
            const fila18 = datosAcomodados[18];
            datosAcomodados[18] = [fila18[0], ...Array(18).fill('')];
            mergeRanges.push({ s: { r: 18, c: 0 }, e: { r: 18, c: 18 } });
        }
    
        // Crear el archivo Excel
        const wb = XLSX.utils.book_new();
        const ws = XLSX.utils.aoa_to_sheet(datosAcomodados);
    
        // Definir los anchos de las columnas
        const colWidths = [
            { wch: 15 }, // Código Emp
            { wch: 30 }, // Empleado
            { wch: 15 }, // Departamento
            { wch: 20 }, // Proceso
            { wch: 10 }, // Código Producto
            { wch: 30 }, // Nombre Producto
            { wch: 20 }, // Cliente
            { wch: 17 }, // Fecha
            { wch: 10 }, // Hora Entrada
            { wch: 10 }, // Hora Salida
            { wch: 10 }, // Horas
            { wch: 10 }, // Total Horas
            { wch: 10 }, // Horas Extras
            { wch: 10 }, // Inasistencia
            { wch: 20 }, // Horarios
            { wch: 10 }, // Creado Por
            { wch: 13 }, // Modificado Por
            { wch: 17 }  // F/Modificación
        ];
    
        ws['!cols'] = colWidths;
    
        // Alternar colores de las filas
        datosAcomodados.forEach((fila, index) => {
            const style = {
                fill: {
                    fgColor: { rgb: index % 2 === 0 ? 'FFFFF2CC' : 'FFD9EAD3' } // Color alternado
                }
            };
            fila.forEach((celda, colIndex) => {
                const cellAddress = XLSX.utils.encode_cell({ r: index, c: colIndex });
                if (!ws[cellAddress]) ws[cellAddress] = {};
                ws[cellAddress].s = { ...ws[cellAddress].s, ...style };
            });
        });
    
        // Fusionar celdas para "Código Emp", "Empleado" y "Departamento"
        let startRow = 1;
    
        datosAcomodados.forEach((fila, index) => {
            if (index > 0) {
                if (fila[4] !== '') { // Verificar que el primer campo de datos no esté vacío
                    if (index > startRow) {
                        mergeRanges.push({ s: { r: startRow, c: 0 }, e: { r: index - 1, c: 0 } });
                        mergeRanges.push({ s: { r: startRow, c: 1 }, e: { r: index - 1, c: 1 } });
                        mergeRanges.push({ s: { r: startRow, c: 2 }, e: { r: index - 1, c: 2 } });
                        mergeRanges.push({ s: { r: startRow, c: 3 }, e: { r: index - 1, c: 3 } });
                    }
                    startRow = index;
                }
            }
        });
    
        if (startRow < datosAcomodados.length) {
            mergeRanges.push({ s: { r: startRow, c: 0 }, e: { r: datosAcomodados.length - 1, c: 0 } });
            mergeRanges.push({ s: { r: startRow, c: 1 }, e: { r: datosAcomodados.length - 1, c: 1 } });
            mergeRanges.push({ s: { r: startRow, c: 2 }, e: { r: datosAcomodados.length - 1, c: 2 } });
            mergeRanges.push({ s: { r: startRow, c: 3 }, e: { r: datosAcomodados.length - 1, c: 3 } });
        }
    
        // Fusionar las celdas de la primera fila para el resumen de asistencia
        mergeRanges.push({ s: { r: 0, c: 0 }, e: { r: 0, c: 18 } });
    
        // Fusionar las celdas de la fila 18
        mergeRanges.push({ s: { r: 18, c: 0 }, e: { r: 18, c: 18 } });
    
        ws['!merges'] = mergeRanges;
    
        // Centrar el contenido de la celda fusionada de la primera fila
        if (ws['A1']) {
            ws['A1'].s = { alignment: { horizontal: 'center', vertical: 'center' }, wrapText: true };
        }
    
        // Centrar el contenido de la celda fusionada de la fila 18
        const fila18CellAddress = XLSX.utils.encode_cell({ r: 18, c: 0 });
        if (ws[fila18CellAddress]) {
            ws[fila18CellAddress].s = { alignment: { horizontal: 'center', vertical: 'center' }, wrapText: true };
        }
    
        // Centrar el contenido de la celda fusionada de la penúltima fila
        if (typeof penultimaFilaIndex !== 'undefined') {
            const penultimateRowIndex = datosAcomodados.length - 2;
            const penultimateRowCellAddress = XLSX.utils.encode_cell({ r: penultimateRowIndex, c: penultimaFilaIndex });
            if (ws[penultimateRowCellAddress]) {
                ws[penultimateRowCellAddress].s = { alignment: { horizontal: 'center', vertical: 'center' }, wrapText: true };
            }
        }
    
        XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
        XLSX.writeFile(wb, nombreArchivo);
    };
    
    
    const toggleInasistencia = (id, codigoEmp) => {
        const select = document.querySelector(`select[name="tipo_inasistencia_${id}"]`);
        const inasistencia = ['F', 'D', 'V', 'INC', 'S', 'B', 'R'].includes(select.value);
    
        if (inasistencia) {
            document.querySelector(`input[name="horaentrada_${id}"]`).value = '00:00:00';
            document.querySelector(`input[name="horasalida_${id}"]`).value = '00:00:00';
            document.querySelector(`input[name="hrs_${id}"]`).value = '0';
            document.querySelector(`input[name="totalhrs_${id}"]`).value = '0';
            document.querySelector(`input[name="hrsextras_${id}"]`).value = '0';
            document.querySelector(`select[name="proceso_${id}"]`).value = '';
            document.querySelector(`select[name="producto_${id}"]`).value = '';
        } else {
            document.querySelector(`input[name="horaentrada_${id}"]`).removeAttribute('readonly');
            document.querySelector(`input[name="horasalida_${id}"]`).removeAttribute('readonly');
            document.querySelector(`input[name="hrs_${id}"]`).removeAttribute('readonly');
            document.querySelector(`input[name="totalhrs_${id}"]`).removeAttribute('readonly');
            document.querySelector(`input[name="hrsextras_${id}"]`).removeAttribute('readonly');
            document.querySelector(`select[name="proceso_${id}"]`).removeAttribute('disabled');
            document.querySelector(`select[name="producto_${id}"]`).removeAttribute('disabled');
        }
    };

    

    const contarCambiosYBorrados = () => {
        let borrados = 0;
    
        document.querySelectorAll('input[name^="eliminar_"]').forEach(checkbox => {
            if (checkbox.checked) {
                borrados++;
            }
        });
    
        return { borrados };
    };
    

    
</script>
{% endblock %}

<div class="container mt-4">
    <form method="get" action="{% url 'horas_procesos:actualizar_horas_procesos' %}">
        <div class="mb-4">
            <h4 class="text-center my-4">Gestión Horas de Procesos</h4>
            <label for="depto_select" class="form-label">Selecciona un Departamento:</label>
            <select id="depto_select" name="departamento" class="form-select">
                <option value="" selected>Todos los Departamentos</option>
                {% for depto in departamentos %}
                <option value="{{ depto.id_departamento }}" {% if depto.id_departamento == departamento_seleccionado %}selected{% endif %}>
                    {{ depto.descripcion }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="fecha">Filtrar por Fecha:</label>
            <input type="date" id="fecha" name="fecha" class="form-control" value="{{ fecha_seleccionada|date:'Y-m-d' }}">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-3">Filtrar</button>
            {% if registros_combinados %}
                <button type="button" class="btn btn-secondary mt-3" id="editar-btn">Editar</button>
                <button type="button" class="btn btn-success mt-3" id="exportar-btn">Exportar a Excel</button>
            {% endif %}
        </div>
    </form>

    {% if registros_combinados %}
    <form method="post" action="{% url 'horas_procesos:actualizar_horas_procesos' %}" id="form-actualizar">
        {% csrf_token %}
        <div class="table-responsive mt-4">
            <table id="tabla-horas-procesos" class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Código Emp</th>
                        <th>Empleado</th>
                        <th>Departamento</th>
                        <th>Fecha</th>
                        <th>Horarios</th>
                        <th>Inasistencia</th>
                        {% if registros_combinados %}
                            {% for proceso in registros_combinados.0.procesos %}
                            <th>
                                <select name="proceso_{{ proceso.id_hrspro }}" class="form-select form-select-sm" data-original-value="{{ proceso.id_pro }}">
                                    <option value="0" {% if proceso.id_pro == 0 %}selected{% endif %}>Sin Proceso</option>
                                    {% for p in procesos %}
                                    <option value="{{ p.id_pro }}" {% if p.id_pro == proceso.id_pro %}selected{% endif %}>{{ p.nombre_pro }}</option>
                                    {% endfor %}
                                </select>
                                <select name="producto_{{ proceso.id_hrspro }}" class="form-select form-select-sm mb-2">
                                    <option value="" {% if proceso.id_producto is none %}selected{% endif %}>Sin Producto</option>
                                    {% for producto in productos %}
                                    <option value="{{ producto.ID_Producto }}" {% if producto.ID_Producto == proceso.id_producto %}selected{% endif %}>{{ producto.ID_Producto }} - {{ producto.DescripcionProd }} - {{ producto.Cliente }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            {% endfor %}
                        {% endif %}
                        <th>Total Horas</th>
                        <th>Horas Extras</th>
                        <th>Creado Por:</th>
                        <th>Modificado Por:</th>
                        <th>F/Modificacion</th>
                        <th>
                            <img src="/static/icons/borrar.png" alt="Borrar" style="width: 15px; height: 15px;">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in registros_combinados %}
                        <tr data-codigo-emp="{{ registro.codigo_emp }}">
                            <td>{{ registro.codigo_emp }}</td>
                            <td>{{ registro.nombre_emp }}</td>
                            <td>{{ registro.depto_emp }}</td>
                            <td>
                                <p class="form-control-plaintext mb-2">{{ registro.procesos.0.fecha_hrspro }}</p>
                            </td>
                            <td>
                                {% for turno in turnos %}
                                    {% if turno.id == registro.id_turno %}
                                        <div>Turno: {{ turno.nombre }}</div>
                                        <div>Horario: {{ turno.horario }}</div>
                                        <div>Descanso: {{ turno.descanso }}</div>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <select name="tipo_inasistencia_{{ registro.procesos.0.id_hrspro }}" class="form-select form-select-sm">
                                    {% for tipo in tipos_inasistencia %}
                                    <option value="{{ tipo.ID_Asis }}" {% if registro.procesos.0.ID_Asis == tipo.ID_Asis %}selected{% endif %}>{{ tipo.Descripcion }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            {% for proceso in registro.procesos %}
                            <td>
                                <div class="d-flex flex-column">
                                    <input type="time" name="horaentrada_{{ proceso.id_hrspro }}" class="form-control form-control-sm mb-2"
                                        value="{% if proceso.horaentrada == '00:00:00.0000000' %}00:00{% else %}{{ proceso.horaentrada|slice:":5" }}{% endif %}" 
                                        step="60" data-original-value="{{ proceso.horaentrada }}">
                                    <input type="time" name="horasalida_{{ proceso.id_hrspro }}" class="form-control form-control-sm mb-2"
                                        value="{% if proceso.horasalida == '00:00:00.0000000' %}00:00{% else %}{{ proceso.horasalida|slice:":5" }}{% endif %}" 
                                        step="60" data-original-value="{{ proceso.horasalida }}">
                                    <input type="text" name="hrs_{{ proceso.id_hrspro }}" class="form-control form-control-sm mb-2" 
                                        value="{{ proceso.hrs|floatformat:2 }}" data-original-value="{{ proceso.hrs|floatformat:2 }}" readonly disabled>
                                </div>
                            </td>
                            {% endfor %}
                            <td>
                                <input type="text" name="totalhrs_{{ registro.codigo_emp }}" class="form-control form-control-sm mb-2" 
                                    value="{{ registro.totalhrs|floatformat:2 }}" readonly disabled>
                            </td>
                            <td class="td-hrsextras">
                                <input type="number" name="totalhrsextras_{{ registro.codigo_emp }}" class="form-control form-control-sm mb-2 input-hrsextras" 
                                    value="{{ registro.totalhrsextras|floatformat:2 }}" min="0" step="0.01" readonly disabled>
                            </td>
                            <td>
                                <p class="form-control-plaintext mb-2">{{ registro.procesos.0.ucreado }}</p>
                            </td>
                            <td>
                                <p class="form-control-plaintext mb-2">{% if registro.procesos.0.umod %}{{ registro.procesos.0.umod }}{% else %}NO MODFICADO{% endif %}</p>
                            </td>
                            <td>
                                <p class="form-control-plaintext mb-2">{% if registro.procesos.0.fmod %}{{ registro.procesos.0.fmod }}{% else %}NO MODIFICADO{% endif %}</p>
                            </td>
                            <td>
                                <input type="checkbox" class="eliminar-checkbox" name="eliminar_{{ registro.procesos.0.id_hrspro }}" data-id="{{ registro.procesos.0.id_hrspro }}">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9" class="text-start detalle-horas" id="detalle_procesos_container">
                            <!-- Detalle de procesos se insertará aquí -->
                        </td>
                        <td colspan="12" class="text-end total-horas text-center">
                            <strong>Total Horas:</strong>
                            <span id="total_proceso" class="text-center">0.00</span>
                            <br>
                            <strong>M/O:</strong>
                            <span id="total_dividido" class="text-center">0.00</span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary mt-3" id="guardar-btn" disabled>Guardar</button>
        </div>
    </form>
    {% endif %}
</div>

{% if messages %}
    <div>
        {% for message in messages %}
            <!-- Modal de respuesta -->
            <div class="modal fade" id="responseModal" tabindex="-1" aria-labelledby="responseModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="responseModalLabel">Mensaje</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="responseModalBody">
                            {{ message }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var responseModal = new bootstrap.Modal(document.getElementById('responseModal'));
            responseModal.show();
        });
    </script>
{% endif %}

<!-- Modal de confirmación -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="confirmMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="confirmSubmit">Confirmar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
