<!-- filepath: /c:/proyecto_Moo/production/templates/production/filtrar_paros.html -->
{% extends 'core/base.html' %}
{% load static %}
{% block title %}Administracion de Paros de Produccion{% endblock %}
{% block content %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% endblock %}



<style>
    .back-icon {
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 20px;
        margin-top: 20px;
        display: block;
        color: #333;
    }
</style>
<div class="container my-5">
    <!-- Botón para acceder a la página de filtrado -->
    <br><br>
    <a href="{% url 'production:production' %}" class="back-icon">
        <i class="fas fa-arrow-left"></i>
    </a>
    <br><br>
    <h3 class="h4 text-dark mt-5">Lista de Paros en el Proceso</h3>
    
    <form method="get" action="{% url 'production:filtrar_paros' %}" class="row g-3 justify-content-center">
        <div class="col-md-3">
            <div class="form-group">
                <label for="FechaParo" class="form-label">Fecha Paro</label>
                <input type="date" name="FechaParo" class="form-control" id="FechaParo" placeholder="Fecha Paro" value="{{ request.GET.FechaParo }}">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="HoraInicio" class="form-label">Hora Inicio</label>
                <input type="time" name="HoraInicio" class="form-control" id="HoraInicio" placeholder="Hora Inicio" value="{{ request.GET.HoraInicio }}">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="HoraFin" class="form-label">Hora Fin</label>
                <input type="time" name="HoraFin" class="form-control" id="HoraFin" placeholder="Hora Fin" value="{{ request.GET.HoraFin }}">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="ID_Pro" class="form-label">Proceso</label>
                <select name="ID_Pro" class="form-control" id="ID_Pro">
                    <option value="">Seleccione Proceso</option>
                    {% for proceso in procesos %}
                        <option value="{{ proceso.ID_Pro }}" {% if request.GET.ID_Pro == proceso.ID_Pro|stringformat:"s" %}selected{% endif %}>{{ proceso.Nombre_Pro }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- filepath: /c:/proyecto_Moo/production/templates/production/filtrar_paros.html -->
        <div class="col-md-3">
            <div class="form-group">
                <label for="filter_select" class="form-label">
                    Seleccione Maquinaria/Concepto
                </label>
                <select name="filter_select" class="form-control" id="filter_select">
                    <option value="">Seleccione Maquinaria/Concepto</option>
                    {% for maquinaria in maquinarias %}
                        <option value="maquinaria_{{ maquinaria.ID_Maquinaria }}" {% if request.GET.filter_select == "maquinaria_"|add:maquinaria.ID_Maquinaria|stringformat:"s" %}selected{% endif %}>
                            Maquinaria: {{ maquinaria.DescripcionMaq }}
                        </option>
                    {% endfor %}
                    {% for concepto in conceptos %}
                        <option value="concepto_{{ concepto.ID_Concepto }}" {% if request.GET.filter_select == "concepto_"|add:concepto.ID_Concepto|stringformat:"s" %}selected{% endif %}>
                            Concepto: {{ concepto.Desc_Concepto }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-success text-white mt-4">Filtrar</button>
        </div>
    </form>
    
    <div class="table-responsive w-100">
        <table class="table table-bordered">
            <thead class="bg-danger text-white">
                <tr style="background-color: #8B0000; color: white;">
                    <th style="padding: 10px;">Fecha Paro</th>
                    <th style="padding: 10px;">Cliente</th>                      
                    <th style="padding: 10px;">Orden Fabricación SAP</th>
                    <th style="padding: 10px;">Producto</th>
                    <th style="padding: 10px;">Hora Inicio Paro</th>
                    <th style="padding: 10px;">Hora Fin Paro</th>
                    <th style="padding: 10px;">Tiempo Muerto (min)</th>
                    <th style="padding: 10px;">Personas Afectadas</th>
                    <th style="padding: 10px;">M.O</th>
                    <th style="padding: 10px;">Proceso</th>
                    <th style="padding: 10px;">
                        {% if filter_type == 'maquinaria' %}
                            Maquinaria
                        {% elif filter_type == 'concepto' %}
                            Concepto
                        {% else %}
                            Maquinaria/Concepto
                        {% endif %}
                    </th>
                    <th style="padding: 10px;">Causa del Paro</th>
                    <th style="padding: 10px;">Diagnostico</th>
                    <th style="padding: 10px;">CausaRaiz</th>
                    <th style="padding: 10px; text-align: center;">Acciones</th>
                    <th style="padding: 10px; text-align: center;">Acciones Mantenimiento</th>
                </tr>
            </thead>
            <tbody>
                {% if paros %}
                    {% for paro in paros %}
                        <tr>
                            <td>{{ paro.FechaParo }}</td>
                            <td>{{ paro.ID_Cliente.Cliente}}</td>
                            <td>{{ paro.OrdenFabricacionSAP }}</td>
                            <td>{{ paro.ID_Producto }}</td>
                            <td>{{ paro.HoraInicio }}</td>
                            <td>{{ paro.HoraFin }}</td>
                            <td>{{ paro.TiempoMuerto }}</td>
                            <td>{{ paro.PersonasAfectadas }}</td>
                            <td>{{ paro.MO }}</td>
                            <td>{{ paro.ID_Proceso.Nombre_Pro }}</td>
                            <td>
                                <span>{{ paro.ID_Maquinaria.DescripcionMaq }}</span>
                                <br>
                                <span>{{ paro.ID_Concepto.Desc_Concepto }}</span>
                            </td>
                            <td>{{ paro.Causa }}</td>
                            <td>{{ paro.Diagnostico }}</td>
                            <td>{{ paro.CausaRaiz }}</td>
                            
                            
                            <td>
                                <div style="display: flex; flex-direction: column; align-items: center;">
                                    {% if not user_is_maintenance %}
                                        <!-- Botón de Modificar azul visible solo para usuarios que NO son del grupo "Mantenimiento" -->
                                        <a href="{% url 'production:modificar_paro' paro.ID_Paro %}" class="btn btn-primary" style="background-color: #007BFF; color: white; padding: 8px 12px; margin: 2px; border-radius: 4px; text-decoration: none;">Modificar</a>
                                
                                        <!-- Botón de Eliminar visible solo para usuarios que NO son del grupo "Mantenimiento" -->
                                        <form method="post" action="{% url 'production:eliminar_paro' paro.ID_Paro %}" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger" style="background-color: #DC3545; color: white; padding: 8px 12px; margin: 2px; border-radius: 4px; border: none; cursor: pointer;" onclick="return confirm('¿Estás seguro de eliminar este paro?');">Eliminar</button>
                                        </form>
                                    {% endif %}
                                </div> 
                            </td>
                            <td>{{ paro.AccionesMantenimiento }}</td>
                            
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="16">No hay datos registrados.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}