<!-- filepath: /c:/proyecto_Moo/production/templates/production/modificar_paro.html -->
{% extends 'core/base.html' %}
{% load static %}
{% block title %}Modificar Paro{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <br><br>
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h2>Modificar Paro</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'production:modificar_paro' paro.ID_Paro %}">
                        {% csrf_token %}
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Fecha Paro</th>
                                        <td>{{ paro.FechaParo }}</td>
                                    </tr>
                                    <tr>
                                        <th>Cliente</th>
                                        <td>
                                            {{ form.ID_Cliente.errors }}
                                            {{ form.ID_Cliente }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Orden Fabricacion SAP</th>
                                        <td>{{ form.OrdenFabricacionSAP.errors }}{{ form.OrdenFabricacionSAP }}</td>
                                    </tr>
                                    <tr>
                                        <th>ID Producto</th>
                                        <td>
                                            {{ form.ID_Producto.errors }}
                                            <select id="id_ID_Producto" name="ID_Producto" class="form-control">
                                                <option value="">Seleccione Producto</option>
                                                {% for producto in productos %}
                                                <option value="{{ producto.ID_Producto }}" {% if producto.ID_Producto == form.ID_Producto.value %}selected{% endif %}>{{ producto.DescripcionProd }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Hora Inicio Paro</th>
                                        <td>{{ form.HoraInicio.errors }}{{ form.HoraInicio }}</td>
                                    </tr>
                                    <tr>
                                        <th>Hora Finalizó Paro</th>
                                        <td>{{ form.HoraFin.errors }}{{ form.HoraFin }}</td>
                                    </tr>
                                    <tr>
                                        <th>Tiempo muerto (min)</th>
                                        <td>
                                            <input type="text" id="tiempoMuerto" name="TiempoMuerto" value="{{ form.TiempoMuerto.value }}" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Personas Afectadas</th>
                                        <td>
                                            {{ form.PersonasAfectadas.errors }}
                                            <input type="number" id="personasAfectadas" name="PersonasAfectadas" 
                                                   value="{{ form.PersonasAfectadas.value }}" 
                                                   min="0.01" max="9999" step="0.01"
                                                   oninput="if (this.value < 0.01) this.value = '';" 
                                                   style="width: 100%;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>M.O</th>
                                        <td>
                                            <input type="text" id="mo" name="MO" value="{{ form.MO.value }}" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Proceso</th>
                                        <td>{{ form.ID_Proceso.errors }}{{ form.ID_Proceso }}</td>
                                    </tr>
                                    <tr>
                                        <th>Maquinaria/Concepto</th>
                                        <td>
                                            {% if form.instance.ID_Maquinaria %}
                                                {{ form.ID_Maquinaria.errors }}{{ form.ID_Maquinaria }}
                                            {% elif form.instance.ID_Concepto %}
                                                {{ form.ID_Concepto.errors }}{{ form.ID_Concepto }}
                                            {% else %}
                                                <!-- Opcional: Puedes mostrar un mensaje si no hay Maquinaria ni Concepto seleccionado -->
                                                <span>No hay Maquinaria ni Concepto seleccionado</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Causa</th>
                                        <td>{{ form.Causa.errors }}{{ form.Causa }}</td>
                                    </tr>
                                    <tr>
                                        <th>Diagnóstico</th>
                                        <td>{{ form.Diagnostico.errors }}{{ form.Diagnostico }}</td>
                                    </tr>
                                    <tr>
                                        <th>Causa Raíz</th>
                                        <td>{{ form.CausaRaiz.errors }}{{ form.CausaRaiz }}</td>
                                    </tr>
                                    <tr>
                                        <th>Acciones Mantenimiento</th>
                                        <td>{{ form.AccionesMantenimiento.errors }}{{ form.AccionesMantenimiento }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Guardar Cambios</button>
                            <a href="{% url 'production:filtrar_paros' %}" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<style>
    input, select, textarea {
        box-sizing: border-box;
        height: 45px;
        font-size: 16px;
    }

    @media (max-width: 768px) {
        table {
            font-size: 12px;
        }
        h2 {
            font-size: 20px;
        }
        button, a {
            padding: 8px 16px;
            font-size: 14px;
        }
    }

    @media (max-width: 991px) {
        .mt-3 {
            margin-top: 15px;
        }
    }
</style>

<script>
    function fetchProductos(clienteId) {
        fetch(`{% url 'production:get_productos' %}?cliente_id=${clienteId}`)
            .then(response => response.json())
            .then(data => {
                const productoSelect = document.getElementById('id_ID_Producto');
                productoSelect.innerHTML = '<option value="">Seleccione Producto</option>';
                data.productos.forEach(producto => {
                    const option = document.createElement('option');
                    option.value = producto.ID_Producto;
                    option.textContent = producto.DescripcionProd; // Mostrar DescripcionProd en el campo de selección
                    productoSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching productos:', error));
    }

    document.getElementById('id_ID_Cliente').addEventListener('change', function() {
        fetchProductos(this.value);
    });

    // Inicializar el campo de productos si ya hay un cliente seleccionado
    document.addEventListener('DOMContentLoaded', function() {
        const clienteSelect = document.getElementById('id_ID_Cliente');
        if (clienteSelect.value) {
            fetchProductos(clienteSelect.value);
        }
    });

    // Lógica de validación para la hora de inicio y fin
    function validateHoraFin() {
        const horaInicio = document.getElementById('id_HoraInicio');
        const horaFin = document.getElementById('id_HoraFin');
        const tiempoMuerto = document.getElementById('tiempoMuerto');
        const personasAfectadas = document.getElementById('personasAfectadas');
        const mo = document.getElementById('mo');

        // Habilitar el campo Hora Fin cuando Hora Inicio esté lleno
        if (horaInicio.value) {
            horaFin.disabled = false;
            horaFin.focus();
        } else {
            horaFin.disabled = true;
        }

        // Validar y calcular el tiempo muerto
        function validateTimes() {
            if (horaInicio.value && horaFin.value) {
                const [inicioHours, inicioMinutes] = horaInicio.value.split(':').map(Number);
                const [finHours, finMinutes] = horaFin.value.split(':').map(Number);

                if (finHours < inicioHours || (finHours === inicioHours && finMinutes <= inicioMinutes)) {
                    alert("La Hora de Finalización debe ser mayor que la Hora de Inicio.");
                    location.reload();
                } else {
                    const startTime = new Date();
                    const endTime = new Date();
                    startTime.setHours(inicioHours, inicioMinutes, 0);
                    endTime.setHours(finHours, finMinutes, 0);

                    const downtimeMilliseconds = endTime - startTime;
                    const downtimeMinutes = Math.floor(downtimeMilliseconds / (1000 * 60));

                    tiempoMuerto.value = downtimeMinutes > 0 ? downtimeMinutes : 0;

                    const personas = parseInt(personasAfectadas.value) || 0;
                    const moValue = (downtimeMinutes / 555) * personas;
                    mo.value = moValue.toFixed(2);
                }
            } else if (!horaFin.value) {
                tiempoMuerto.value = '';
                mo.value = '';
            }
        }

        horaInicio.addEventListener('input', validateTimes);
        horaFin.addEventListener('input', validateTimes);
        personasAfectadas.addEventListener('input', validateTimes);
    }

    // Validar conexión y mostrar alertas según el estado
    function updateOnlineStatus() {
        const isOnline = navigator.onLine;
        const notificationShown = sessionStorage.getItem('notificationShown');

        if (isOnline && notificationShown !== 'online') {
            alert("Estás conectado a la red.");
            sessionStorage.setItem('notificationShown', 'online');
        } else if (!isOnline && notificationShown !== 'offline') {
            alert("No estás conectado a la red. Algunas funcionalidades pueden no estar disponibles.");
            sessionStorage.setItem('notificationShown', 'offline');
        }
    }

    // Verificar estado de la conexión antes de enviar el formulario
    function checkConnectionBeforeSync(event) {
        if (!navigator.onLine) {
            event.preventDefault();
            alert("No se puede sincronizar. No estás conectado a la red.");
        }
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        updateOnlineStatus();
        const syncForm = document.querySelector('.sync-form');
        if (syncForm) {
            syncForm.addEventListener('submit', (event) => {
                checkConnectionBeforeSync(event);
                if (navigator.onLine) {
                    handleFormSubmission(event);
                }
            });
        }

        validateHoraFin();
    });

    window.addEventListener('online', updateOnlineStatus);
    window.addEventListener('offline', updateOnlineStatus);
</script>