{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registros de Paros de Producción{% endblock %}
{% block content %}
<div class="container my-5">
    <h2 class="text-center text-white">.</h2>

    <!-- Sincronización de Datos -->
    <div class="mb-4">
        <h4 class="text-dark">Sincronización de Datos</h4>
        <p class="text-dark">Registros por sincronizar: {{ registros_por_syncronizar }}</p>
        <form method="post" action="{% url 'production:sync_data_view' %}" class="sync-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning w-100">Sincronizar Datos</button>
        </form>
        {% if messages %}
            {% for message in messages %}
                {% if 'sync' in message.tags %}
                    <div class="alert alert-{{ message.level_tag }}">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <!-- Filtro de Maquinaria y Concepto -->
    <div class="mb-4">
        <h4 class="text-dark">Filtrar por Maquinaria o Concepto</h4>
        <form method="get" action="{% url 'production:production' %}" class="row g-3 justify-content-center" id="filterForm">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="filter_type" class="form-label">Filtrar por</label>
                    <select name="filter_type" class="form-control" id="filter_type">
                        <option value="">Seleccione Filtro</option>
                        <option value="maquinaria" {% if filter_type == 'maquinaria' %}selected{% endif %}>Maquinaria</option>
                        <option value="concepto" {% if filter_type == 'concepto' %}selected{% endif %}>Concepto</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-end">
                <button type="submit" class="btn btn-success text-white w-100">Filtrar</button>
            </div>
        </form>
    </div>

    <!-- Botón para acceder a la página de filtrado -->
    <div class="mb-4">
        <a href="{% url 'production:filtrar_paros' %}" class="btn btn-primary w-100">Administracion de Paros de Produccion</a>
    </div>

    <h2 style="font-size: 24px; color: #333;">Registro de Paros</h2>

    {% if user_is_maintenance %}
        <p class="alert alert-warning">No tienes permisos para registrar nuevos paros. Este formulario está deshabilitado para los usuarios de mantenimiento.</p>
    {% elif filter_type %}
        <div style="max-width: 100%;">    
            <form method="post" action="{% url 'production:registrar_paro' %}">
                {% csrf_token %}
                <input type="hidden" name="filter_type" value="{{ filter_type }}">
                <input type="hidden" name="filter_select" value="{{ filter_select }}">
                <div style="overflow-x: auto; margin: 0 auto; max-width: 100%;">
                    <table style="margin: 0 auto; width: 100%; border-collapse: collapse; table-layout: auto;">
                        <thead>
                            <tr style="background-color: #8B0000; color: white;">
                                <th style="padding: 10px; width: 10%;">Cliente</th>
                                <th style="padding: 10px; width: 10%;">Orden Fabricacion SAP</th>
                                <th style="padding: 10px; width: 10%;">Producto</th>
                                <th style="padding: 10px; width: 10%;">Fecha</th>
                                <th style="padding: 10px; width: 10%;">Hora Inicio Paro</th>
                                <th style="padding: 10px; width: 10%;">Hora Finalizó Paro</th>
                                <th style="padding: 10px; width: 10%;">Tiempo muerto (min)</th>
                                <th style="padding: 10px; width: 10%;">Personas afectadas</th>
                                <th style="padding: 10px; width: 10%;">M.O</th>
                                <th style="padding: 10px; width: 10%;">Proceso</th>
                                <th style="padding: 10px; width: 10%;">
                                    {% if filter_type == 'maquinaria' %}
                                        Maquinaria
                                    {% elif filter_type == 'concepto' %}
                                        Concepto
                                    {% else %}
                                        Maquinaria/Concepto
                                    {% endif %}
                                </th>
                                <th style="padding: 10px; width: 10%;">Causa del Paro</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- Cliente Selection -->
                                <td>
                                    <select name="ID_Cliente" id="clienteSelect" required style="width: 100%;" onchange="fetchProductos(this.value)">
                                        <option value="">Seleccione Cliente</option>
                                        {% for cliente in clientes %}
                                            <option value="{{ cliente.ID_Cliente }}" {% if cliente_id == cliente.ID_Cliente|stringformat:"s" %}selected{% endif %}>{{ cliente.Cliente }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="text" name="OrdenFabricacionSAP" id="OrdenFabricacionSAP" value="0" required 
                                           pattern="^\d{1,5}$" title="Solo se permiten números (máximo 5 dígitos)" 
                                           maxlength="6" oninput="this.value = this.value.replace(/[^0-9]/g, '');" 
                                           style="width: 100%; margin-top: 30px;">
                                    <label for="OrdenFabricacionSAP" class="form-label">Opcional*</label>
                                </td>
                              
                                <td>
                                    <select name="ID_Producto" id="productoSelect" required style="width: 100%; margin-top: 50px;" onchange="updateProductoNombre()">
                                        <option value="">Seleccione Producto</option>
                                        {% for producto in productos %}
                                            <option value="{{ producto.ID_Producto }}" data-nombre="{{ producto.DescripcionProd }}">{{ producto.ID_Producto }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="text" id="nombreProducto" readonly style="width: 500%; margin-top: 20px;">
                                </td>
                                <td>
                                    <input type="date" name="FechaParo" id="fechaParo" required style="width: 100%;">
                                </td>
                                <td><input type="time" name="HoraInicio" id="horaInicio" required style="width: 100%;" onchange="validateHoraFin()"></td>
                                <td><input type="time" name="HoraFin" id="horaFin" required style="width: 100%;" disabled></td>
                                <td><input type="number" name="TiempoMuerto" id="tiempoMuerto" required min="0" style="width: 100%;" readonly></td>
                                <td>
                                    <input type="number" name="PersonasAfectadas" id="personasAfectadas" required min="0.01" max="9999" step="0.01"
                                           oninput="if (this.value < 0.01) this.value = '';" 
                                           style="width: 100%;">
                                </td>
                                <td>
                                    <input type="number" name="MO" id="manoDeObra" required readonly style="width: 100%;" />
                                </td>
                              
                                <td>
                                    <select name="ID_Proceso" required style="width: 100%;">
                                        <option value="">Seleccione Proceso</option>
                                        {% for proceso in procesos %}
                                            <option value="{{ proceso.ID_Pro }}" {% if proceso_id == proceso.ID_Pro|stringformat:"s" %}selected{% endif %}>{{ proceso.Nombre_Pro }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    {% if filter_type == 'maquinaria' %}
                                        <select name="ID_Maquinaria" required style="width: 100%;">
                                            <option value="">Seleccione Maquinaria</option>
                                            {% for maquinaria in maquinarias %}
                                                <option value="{{ maquinaria.ID_Maquinaria }}" {% if maquinaria_id == maquinaria.ID_Maquinaria|stringformat:"s" %}selected{% endif %}>{{ maquinaria.DescripcionMaq }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="hidden" name="ID_Concepto" value="">
                                    {% elif filter_type == 'concepto' %}
                                        <select name="ID_Concepto" required style="width: 100%;">
                                            <option value="">Seleccione Concepto</option>
                                            {% for concepto in conceptos %}
                                                <option value="{{ concepto.ID_Concepto }}" {% if filter_select == "concepto_"|add:concepto.ID_Concepto|stringformat:"s" %}selected{% endif %}>{{ concepto.Desc_Concepto }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="hidden" name="ID_Maquinaria" value="">
                                    {% else %}
                                        <select name="ID_Maquinaria" required style="width: 100%;">
                                            <option value="">Seleccione Maquinaria</option>
                                            {% for maquinaria in maquinarias %}
                                                <option value="{{ maquinaria.ID_Maquinaria }}" {% if maquinaria_id == maquinaria.ID_Maquinaria|stringformat:"s" %}selected{% endif %}>{{ maquinaria.DescripcionMaq }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="hidden" name="ID_Concepto" value="">
                                    {% endif %}
                                </td>
                                <td><textarea name="Causa" required style="width: 100%; height: 100px;"></textarea></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="text-align: center; margin-top: 20px;">
                    <button type="submit" class="btn btn-success text-white mt-4">Guardar</button>
                </div>
            </form>
        </div>
    {% endif %}
</div>
    <style>
        /* Ajustes responsivos */
        @media (max-width: 768px) {
            table {
                font-size: 12px;
            }
            h2 {
                font-size: 20px;
            }
            input, select, button {
                width: 100%;
                margin: 5px;
            }
            .btn {
                width: 100%; /* Botones a 100% en móvil */
            }
        }

        /* Margen superior extra cuando está en vertical */
        @media (orientation: portrait) {
            #main-container {
                margin-top: 120px; /* Ajuste de margen superior cuando está en modo vertical */
            }
        }
    </style>

<script>
    function fetchProductos(clienteId) {
        fetch(`{% url 'production:get_productos' %}?cliente_id=${clienteId}`)
            .then(response => response.json())
            .then(data => {
                const productoSelect = document.getElementById('productoSelect');
                productoSelect.innerHTML = '<option value="">Seleccione Producto</option>';
                data.productos.forEach(producto => {
                    const option = document.createElement('option');
                    option.value = producto.ID_Producto;
                    option.textContent = producto.ID_Producto; // Mostrar ID_Producto en el campo de selección
                    option.setAttribute('data-nombre', producto.DescripcionProd); // Mantener DescripcionProd como atributo de datos
                    productoSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching productos:', error));
    }

    // Function to update the product name display
    function updateProductoNombre() {
        const select = document.getElementById('productoSelect');
        const selectedOption = select.options[select.selectedIndex];
        const nombreProducto = document.getElementById('nombreProducto');
        nombreProducto.value = selectedOption.getAttribute('data-nombre') || '';
        console.log('Producto seleccionado:', selectedOption.value, 'Nombre:', nombreProducto.value);
    }

    function submitFormWithParams() {
        const filterForm = document.getElementById('filterForm');
        const clienteForm = document.getElementById('clienteForm');
        const filterType = document.getElementById('filter_type').value;

        // Agregar los valores de los filtros al formulario de cliente
        const filterTypeInput = document.createElement('input');
        filterTypeInput.type = 'hidden';
        filterTypeInput.name = 'filter_type';
        filterTypeInput.value = filterType;
        clienteForm.appendChild(filterTypeInput);

        // Enviar el formulario de cliente
        clienteForm.submit();
    }
    

    // Function to validate time inputs and calculate downtime
    function validateHoraFin() {
        const horaInicio = document.getElementById('horaInicio');
        const horaFin = document.getElementById('horaFin');
        const tiempoMuerto = document.getElementById('tiempoMuerto');
        const mo = document.querySelector('input[name="MO"]'); // Assuming the MO field is correctly named in the form
        const personasAfectadas = document.querySelector('input[name="PersonasAfectadas"]'); // Get Personas Afectadas input

        // Enable the Hora Fin input when Hora Inicio is filled
        if (horaInicio.value) {
            horaFin.disabled = false;
            horaFin.focus();
        } else {
            // Disable Hora Fin if Hora Inicio is not set
            horaFin.disabled = true;
        }

        // Validate and calculate the downtime
        function validateTimes() {
            if (horaInicio.value && horaFin.value) {
                const [inicioHours, inicioMinutes] = horaInicio.value.split(':').map(Number);
                const [finHours, finMinutes] = horaFin.value.split(':').map(Number);

                // Ensure Hora Inicio is always before Hora Fin
                const startTime = new Date();
                const endTime = new Date();
                startTime.setHours(inicioHours, inicioMinutes, 0); // Set the start time
                endTime.setHours(finHours, finMinutes, 0); // Set the end time

                // Check if Hora Fin is after Hora Inicio
                if (endTime <= startTime) {
                    alert("La Hora de Finalización debe ser mayor que la Hora de Inicio.");
                    horaFin.value = ''; // Clear Hora Fin
                    tiempoMuerto.value = ''; // Clear the downtime
                    mo.value = ''; // Clear M.O
                    horaFin.disabled = false; // Allow re-entering Hora Fin
                } else {
                    // Calculate the downtime in minutes
                    const downtimeMilliseconds = endTime - startTime;
                    const downtimeMinutes = Math.floor(downtimeMilliseconds / (1000 * 60));

                    // Display the downtime in minutes, ensuring it's not negative
                    tiempoMuerto.value = downtimeMinutes > 0 ? downtimeMinutes : 0;

                    // Recalculate M.O when downtime changes
                    updateMO();
                }
            } else if (!horaFin.value) {
                // If Hora Fin is cleared, reset downtime and M.O
                tiempoMuerto.value = '';
                mo.value = '';
            }
        }

        // Function to update M.O calculation based on downtime and Personas Afectadas
        function updateMO() {
            const downtimeMinutes = parseFloat(tiempoMuerto.value) || 0;
            const personas = parseFloat(personasAfectadas.value) || 0;
            const moValue = (downtimeMinutes / 675) * personas; // Update the divisor to 675 (11.25 hours * 60 minutes)
            mo.value = moValue.toFixed(2); // Update M.O value
        }

        // Add event listeners to update when either input changes
        horaInicio.addEventListener('input', validateTimes);
        horaFin.addEventListener('input', validateTimes);
        personasAfectadas.addEventListener('input', updateMO); // Recalculate M.O when personas Afectadas changes
    }

    // Function to show alert based on connection status
    function updateOnlineStatus() {
        const isOnline = navigator.onLine;
        const notificationShown = sessionStorage.getItem('notificationShown');

        if (isOnline && notificationShown !== 'online') {
            alert("Estás conectado a la red.");
            sessionStorage.setItem('notificationShown', 'online');
        } else if (!isOnline && notificationShown !== 'offline') {
            alert("No estás conectado a la red. Algunas funcionalidades pueden no estar disponibles.");
            sessionStorage.setItem('notificationShown', 'offline');
        }
    }
    

    // Function to check connection status before form submission
    function checkConnectionBeforeSync(event) {
        if (!navigator.onLine) {
            event.preventDefault();
            alert("No se puede sincronizar. No estás conectado a la red.");
        }
    }

    // Function to handle form submission success
    function handleFormSubmission(event) {
        event.preventDefault();
        const form = event.target;

        setTimeout(() => {
            alert("Sincronización exitosa.");
            form.submit();
        }, 1000); // Simulate a delay
    }

    // Initial check on page load
    document.addEventListener('DOMContentLoaded', (event) => {
        updateOnlineStatus();

        // Add event listener to the sync form
        const syncForm = document.querySelector('.sync-form');
        if (syncForm) {
            syncForm.addEventListener('submit', (event) => {
                checkConnectionBeforeSync(event);
                if (navigator.onLine) {
                    handleFormSubmission(event);
                }
            });
        }

        // Initialize time validation
        validateHoraFin();
    });

    // Add event listeners for online and offline events
    window.addEventListener('online', updateOnlineStatus);
    window.addEventListener('offline', updateOnlineStatus);
</script>

{% endblock %}