{% extends "admin/change_list.html" %}

{% block object-tools %}
    <div class="object-tools d-flex flex-wrap justify-content-start">
        <!-- Formulario para sincronizar todos los refrigeradores -->
        <form action="" method="post" style="display:inline; margin-right: 10px; width: auto;">
            {% csrf_token %}
            <input type="submit" name="sync_all" value="Sincronizar Todos" class="button btn btn-warning" />
        </form>

        <!-- Formulario para "Ir a Temperature" con el mismo estilo y tamaño -->
        <form action="{% url 'temperature:temperature' %}" method="get" style="display:inline; margin-left: 10px; width: auto;">
            <button type="submit" class="button btn btn-secondary" style="font-size: 0.79rem; padding: 5px 16px;  height: 37px;">Volver A Control De Temperaturas</button>
        </form>

        {{ block.super }}
    </div>
{% endblock %}

{% block extrahead %}
    <script type="text/javascript">
        // Espera a que el DOM esté completamente cargado antes de ejecutar el script
        document.addEventListener('DOMContentLoaded', function() {
            // Selecciona el primer mensaje de éxito o error
            const message = document.querySelector('.messagelist .success, .messagelist .error');
            if (message) {
                // Si hay un mensaje, configúralo para que desaparezca después de 4 segundos
                setTimeout(function() {
                    message.style.display = 'none';
                }, 4000);
            }
        });
    </script>
{% endblock %}
